{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}

<table>
   <div> <thead>
        <tr>
            <th>Name</th>
            <th>Shares</th>
            <th>Value</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {%for symbol in stocks%}
        <tr>
            <td>{{symbol["name"]}}</td>
            <td>{{symbol["number"]}}</td>
            <td>{{value["symbol"]}}</td>
            <td>{{(stock_value_usd)}}</td>
        </tr>

        {% endfor %}
    </tbody></div>
    <div>

        Current balance
        {{cash_usd}}
        Total assets
        {{total_assits}}
    </div>

</table>
{% endblock %}